.titulos{
    color: rgb(30, 255, 0);
}
.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: #17abf0;
    box-shadow: 0px 3px 20px #5daab47c;
}
.s1 {
    background-color: #18475a;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.s2 {
    background-color: #18475a;
    color: #ffffff;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.s3 {
    background-color: #18475a;
    color: #ffffff;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.s4 {
    background-color: #18475a;
    color: #ffffff;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.s2 .left, .s3 .right, .s4 .left {
    max-width: 600px;
}

.s2 h2, .s3 h2, .s4 h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.s2 p, .s3 p, .s4 p {
    font-size: 22px;
    line-height: 30px;
}

.imgCOP {
    width: 400px;
    height: 400px;
    transition: all 200ms ease-in-out;
    border-radius: 100%;
}

.imgCOP:hover {
    transform: scale(1.1);
}
.title {
    font-size: 36px;
    font-weight: bold;
}
.paragraph {
    font-size: 22px;
}
.right {
    width: 500px;
}

.rodape {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #011422;
    border-top: 2px solid #0e4e7c;
}

.rodape a {
    transition: all 500ms ease-in-out;
    border-radius: 999px;
    overflow: hidden;
    
}

.rodape a:hover {
    transform: translateY(-15px) scale(1.3);
    
}
.rodape a img {
border-radius: 100%;
}




@media (width <=768px) {
    .s1 {
        padding-top: 30px;
        gap: 10;
    }

    .left {
        width: -150;
        height: 300px;
    }

    .imgPerfil {
        width: 300px;
        height: 300px;

    }

    .right {
        padding: 20px;
        margin-top: -150px;
    }
}