.menu {
  width: 100%;
  padding: 16px 40px;
  background: #020617;
  display: flex;
  justify-content: center;
  gap: 32px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #1e293b;
}

.menu a {
  color: #cbd5e1;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}

.menu a:hover {
  color: #38bdf8;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 40px 20px;
}



.section {
  padding: 80px 0;
  border-bottom: 1px solid #1e293b;
}

.sectionAlt {
  padding: 80px 0;
  background-color: #020617;
  border-bottom: 1px solid #1e293b;
}

.section h1,
.sectionAlt h1 {
  font-size: 2.2rem;
  margin-bottom: 24px;
  color: #38bdf8;
}



.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.05rem;
  line-height: 1.6;
  color: #e2e8f0;
}

.section p,
.sectionAlt p {
  margin-bottom: 12px;
  font-size: 1.05rem;
  line-height: 1.6;
}



.row {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 24px;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  align-items: center;
  margin-top: 24px;
}

.image {
  width: 420px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.imageSmall {
  width: 220px;
  border-radius: 100%;
  border: 3px solid #38bdf8;
}

.center {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.centerText {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

/* FOOTER */

.footer {
  padding: 30px 0;
  text-align: center;
  background-color: #020617;
  color: #94a3b8;
  border-top: 1px solid #1e293b;
  margin-top: 40px;
}

/* RESPONSIVO */

@media (max-width: 900px) {
  .row,
  .rowReverse {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .menu {
    flex-wrap: wrap;
    gap: 16px;
  }

  .section h1,
  .sectionAlt h1 {
    font-size: 1.7rem;
  }
}
